*{
    margin: 0px;
    padding: 0px;
}

body{
  background-color: lightblue;
  font-weight: bold;
  color: white;
}
.card{
  background-color: thistle;
}
.none{
  display: none;
}
.btn{
padding: 0px;
}

.check {
  background-color: tomato;
  
}